:root{
    --bg-color: #0B0F18;
    --line-color: #02060F;
}
body{
    padding: 0;
    height: 100vh;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--line-color);
}
.game-grid   {
    display: grid;              /* Aktiviert das Grid-System */
    grid-template-columns: repeat(20, 1fr);  /* 20 Spalten */
    grid-template-rows: repeat(20, 1fr);     /* 20 Zeilen */
    width: 400px;               /* Größe des Spielfelds (anpassbar) */
    height: 400px;
    background-color: var(--bg-color);
}
.bg-tile{
    border: .5px solid var(--line-color);
}
.snake{
    background-color: #6FDB49;
    border: .5px solid var(--line-color);
}
.food{
    background-color: #EB3534;
    border: .5px solid var(--line-color);
}