html {
  scroll-behavior: smooth;
  font-size: 100%;
  height: 100%;
}
:root {
  --font-scale: 1.333;
  --p: 1rem;
  --h5: calc(var(--p) * var(--font-scale));
  --h4: calc(var(--h5) * var(--font-scale));
  --h3: calc(var(--h4) * var(--font-scale));
  --h2: calc(var(--h3) * var(--font-scale));
  --h1: calc(var(--h2) * var(--font-scale));
  --small: calc(var(--p) / var(--font-scale));


  --text: rgb(215, 255, 222); 
  --background: rgb(0, 18, 2);
  --secondary: rgb(77, 163, 217);
  --primary: rgb(30, 118, 140);
  --accent: rgb(124, 249, 144);

  
  font-family: 'General Sans', sans-serif;
}
body {
  margin: 0;
  padding: 80px 0px 80px 0px;
  display: flex;
  justify-content: center;
  background-color: var(--background);
  position: relative;
  font-size: var(--p);
  min-height: 100%;
}









/*CSS for Header 2*/
nav {
  background-color: var(--background);
  border-bottom: 1px solid var(--text);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 13.5%;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
}
nav li{
  height: 30px;
}

nav a{
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--text);
  font-size: var(--h5);
}

nav a:hover{
  color: var(--accent);
}

nav li:first-child {
  padding-left: none;
  margin-right: auto;

}
a svg {
  fill: var(--text);
}
a svg:hover {
  fill: var(--accent)
}
#Ebene_2 {
  height: 16px;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  z-index: 999;
  background-color: var(--background);
  border-left: 1px solid var(--text);
  margin: 0;
  padding: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
  height: 60px;
}
.sidebar a {
  width: 100%;
}
.menu-button {
  display: none;
}
@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}
@media (max-width: 400px) {
  .sidebar{
    width: 100%;
  }
}

/*CSS for Header 2*/
nav {
  background-color: var(--background);
  border-bottom: 1px solid var(--text);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 13.5%;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
}
nav li{
  height: 30px;
}

nav a{
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--text);
  font-size: var(--h5);
}

nav a:hover{
  color: var(--accent);
}

nav li:first-child {
  padding-left: none;
  margin-right: auto;

}
a svg {
  fill: var(--text);
}
a svg:hover {
  fill: var(--accent)
}
#Ebene_2 {
  height: 16px;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  z-index: 999;
  background-color: var(--background);
  border-left: 1px solid var(--text);
  margin: 0;
  padding: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
  height: 60px;
}
.sidebar a {
  width: 100%;
}
.menu-button {
  display: none;
}
@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}
@media (max-width: 400px) {
  .sidebar{
    width: 100%;
  }
}








/*CSS for Main Content*/
.main-container {
  width: 70%;
  z-index: 50;
  pointer-events: none;
}
.main-box {
  margin-top: 10px;
  height: 400px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.text-box {
  width: 50%;
}

.headline-subpage {
  font-size: var(--h2);
  color: var(--text);
  font-weight: 600;
}

.main-box p {
  color: var(--text);
  margin: 0;
}



/*CSS for SVG*/
.Portrait {
  position: absolute;
  left: 0;
  bottom: 9.3rem;

}
.cls-1 {
  isolation: isolate;
}
#Glasses {
  fill: #2B412E;
  transition: fill 0.4s;
}
#Glasses:hover {
  fill: #548759;
}
.cls-2, .cls-3 {
  stroke-width: 0px;
}
.cls-4 {
  fill: none;
  stroke: #2B412E;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}
.cls-3 {
  fill: #2B412E;
}
#Layer_1 {
  width: 500px;
}








/* CSS for the closer segment */
.closer-container {
  position: absolute;
  color: var(--text);
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--text);
  padding: 2rem 12%;
  background-color: var(--background);
  z-index: 99;
}
.closer-container-logo {
  margin-bottom: 1rem;
}
.closer-email-icon,
.closer-instagram-icon,
.closer-discord-icon {
  height:  10px;
  fill: var(--text);
  margin-right: 8px;
}
.closer-container-middle-email,
.closer-container-middle-discord,
.closer-container-middle-instagram {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text);
  transition: color 0.2s;
}

.closer-container-middle-instagram:hover {
  color: var(--accent);
}
.closer-container-p-middle,
.closer-container-p-right,
.closer-container-p-left {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.closer-container-p-right {
  margin-left: 18px;
}
.closer-container-p-right a {
  text-decoration: none;
  color: var(--text);
  cursor: pointer;
}
.closer-container-p-right a:hover {
  color: var(--accent);
}
.container-logo-svg {
  height: 25px;
  fill: var(--text);
  transition: fill 0.2s;
}
.closer-container-p {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  max-width: 500px;
}
.closer-container div, a {
  font-size: var(--small);
}






@media (min-width: 519px) and (max-width: 649px) {
  .text-box {
    width: 66%;
  }
  #Layer_1 {
    width: 450px;
  }
}
@media (min-width: 390px) and (max-width: 519px) {
  .text-box {
    width: 84%;
  }
  #Layer_1 {
    width: 370px;
  }
}
@media (max-width: 390px) {
  .headline-subpage {
    font-size: var(--h3)
  }
  .text-box {
    width: 100%;
  }
  #Layer_1 {
    width: 300px;
  }
  .Portrait {
    bottom: 16.9rem;
  }
}
@media (max-width: 450px) {
  .closer-container-p {
    display: inline-block;
  }
  .closer-container-p-right {
    margin-left: 0;
  }
  .closer-container-p-middle {
    margin: 1rem 0;
  }
  .Portrait {
    bottom: 14.9rem;
  }
  .closer-container {
    padding: 1rem 12%;
  }
}