body{
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(19, 19, 19);
}
.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: rgb(34, 34, 34);
  border-radius: 20px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, .4);

}
.display-container{
  width: 100%;
}
.js-display{
  height: 80px;
  width: 260px;
  background-color: rgb(46, 46, 46);
  border: none;
  margin: 0px;
  color: white;
  box-sizing: border-box;
  padding: 0px 30px;
  outline: none;
  border-radius: 40px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, .4);
  margin-right: 2px;
  font-size: 25px;
}

button{
  background-color: rgb(92, 92, 92);
  color: white;
  outline: none;
  width: 80px;
  height: 80px;
  margin: 10px 2px 0px 2px;
  border: none;
  border-radius: 40px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, .4);
  font-size: 25px;
}
.operator{
  background-color: rgb(243, 158, 0);
  color: white;
}

p {
  text-align: right;
  margin: 15px 0px 0px 0px;
  color: white;
}