html {
  scroll-behavior: smooth;
  font-size: 100%;
  height: 100%;
}
:root {
  --font-scale: 1.333;
  --p: 1rem;
  --h5: calc(var(--p) * var(--font-scale));
  --h4: calc(var(--h5) * var(--font-scale));
  --h3: calc(var(--h4) * var(--font-scale));
  --h2: calc(var(--h3) * var(--font-scale));
  --h1: calc(var(--h2) * var(--font-scale));
  --small: calc(var(--p) / var(--font-scale));


  --text: rgb(215, 255, 222); 
  --background: rgb(0, 18, 2);
  --secondary: rgb(77, 163, 217);
  --primary: rgb(30, 118, 140);
  --accent: rgb(124, 249, 144);

  
  font-family: 'General Sans', sans-serif;
}
body {
  margin: 0;
  padding: 80px 0px 200px 0px;
  display: flex;
  justify-content: center;
  min-height: 100%;
  background-color: var(--background);
  position: relative;
  font-size: var(--p);
}





/*CSS for Main Content*/
.main-container {
  width: 70%;
}
.main-box {
  margin-top: 10px;
}
.headline-subpage {
  font-size: var(--h2);
  color: var(--text);
  font-weight: 600;
}
.container {
  display: flex;
  margin-bottom: 15px;
}
.body-text {
  color: var(--text);
}
.img-transparent {
width: 100%;
height: 100%;
object-fit: cover;
background-color: rgb(241, 255, 242);
object-fit: fill;
object-position: bottom;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: rgb(241, 255, 242);
  object-fit: fill;
  object-position: bottom;
  }

.img-container {
  overflow: hidden;
  border-radius: 15px;
  width: 400px;
}
.body-headline {
  font-size: var(--h4);
  font-weight: 500;
  color: var(--text);
}
.body-container {
  margin-left: 15px;
  width: 50%;
}






/*CSS for Header 2*/
nav {
  background-color: var(--background);
  border-bottom: 1px solid var(--text);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 13.5%;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
}
nav li{
  height: 30px;
}

nav a{
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--text);
  font-size: var(--h5);
}

nav a:hover{
  color: var(--accent);
}

nav li:first-child {
  padding-left: none;
  margin-right: auto;

}
a svg {
  fill: var(--text);
}
a svg:hover {
  fill: var(--accent)
}
#Ebene_2 {
  height: 16px;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  z-index: 999;
  background-color: var(--background);
  border-left: 1px solid var(--text);
  margin: 0;
  padding: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
  height: 60px;
}
.sidebar a {
  width: 100%;
}
.menu-button {
  display: none;
}
@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}
@media (max-width: 400px) {
  .sidebar{
    width: 100%;
  }
}









/* CSS for the closer segment */
.closer-container {
  position: absolute;
  color: var(--text);
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--text);
  padding: 2rem 12%;
  background-color: var(--background);
}
.closer-container-logo {
  margin-bottom: 1rem;
}
.closer-email-icon,
.closer-instagram-icon,
.closer-discord-icon {
  height:  10px;
  fill: var(--text);
  margin-right: 8px;
}
.closer-container-middle-email,
.closer-container-middle-discord,
.closer-container-middle-instagram {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text);
  transition: color 0.2s;
}

.closer-container-middle-instagram:hover {
  color: var(--accent);
}
.closer-container-p-middle,
.closer-container-p-right,
.closer-container-p-left {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.closer-container-p-right {
  margin-left: 18px;
}
.closer-container-p-right a {
  text-decoration: none;
  color: var(--text);
  cursor: pointer;
}
.closer-container-p-right a:hover {
  color: var(--accent);
}
.container-logo-svg {
  height: 25px;
  fill: var(--text);
  transition: fill 0.2s;
}
.closer-container-p {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  max-width: 500px;
}
.closer-container div, a {
  font-size: var(--small);
}



@media (max-width: 649px) {
  .container {
    display: inline-block;
  }
  .body-container {
    margin-left: 0;
    margin-bottom: 2rem;
    width: 100%;
  }
  .img,
  .img-transparent {
    border-radius: 15px;
  }
}
@media (max-width: 389px) {
  .headline-subpage {
    font-size: var(--h3)
  }
}
@media (max-width: 450px) {
  body {
    padding: 80px 0px 250px 0px;
  }
  .closer-container-p {
    display: inline-block;
  }
  .closer-container-p-right {
    margin-left: 0;
  }
  .closer-container-p-middle {
    margin: 1rem 0;
  }
  .closer-container {
    padding: 1rem 12%;
  }
}

